In [563]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [564]:
credits=pd.read_csv('credits.csv')

In [565]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3...","[{'credit_id': '52fe4284c3a36847f8024f49', 'department': 'Directing', '...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a3...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'department': 'Production', ...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a92514...","[{'credit_id': '52fe466a9251416c75077a89', 'department': 'Directing', '...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah' Jackson"", 'credit_id': ...","[{'credit_id': '52fe44779251416c91011acb', 'department': 'Directing', '...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', 'credit_id': '52fe44959251...","[{'credit_id': '52fe44959251416c75039ed7', 'department': 'Sound', 'gend...",11862

In [566]:
meta=pd.read_csv('movies_metadata.csv')

C:\Users\KIIT\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [567]:
meta.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915Lf...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': ...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his room until Andy's birthda...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id':...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an enchanted board game that open...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'F...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nL...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud between next-door neighbors...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for Love.,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 1074...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the women are holding their brea...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself... and never let you for...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': ...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,"Just when George Banks has recovered from his daughter's wedding, he re...",...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's In For The Surprise Of Hi...,Father of the Bride Part II,False,5.7,173.0

In [568]:
meta.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [569]:
#Release date converted to datetime
meta['release_date']=pd.to_datetime(meta['release_date'],errors='coerce')

In [570]:
meta['year']=meta['release_date'].dt.year

In [571]:
meta['year'].value_counts().sort_index().tail()

2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, dtype: int64

In [572]:
# We try to get only 2017 movies as we already have movies up to the year 2016 in MoviePreprocess 1 file. 
# We don't have enough data for the movies from 2018, 2019 and 2020. 
# We will deal with it in the upcoming preprocessing files

In [573]:
#We have data till 2016 in MoviePreprocess1.Now here we explore 2017
new_meta=meta.loc[meta.year==2017,['genres','id','title','year']]

In [574]:
new_meta

,genres,id,title,year
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",141052,Justice League,2017.0
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",284053,Thor: Ragnarok,2017.0
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",283995,Guardians of the Galaxy Vol. 2,2017.0
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",245842,The King's Daughter,2017.0
30994,"[{'id': 53, 'name': 'Thriller'}, {'id': 12, 'name': 'Adventure'}]",279988,Extinction: Nature Has Evolved,2017.0
31994,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name': 'Comedy'}]",326241,For Here or to Go?,2017.0
32531,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'name': 'Fantasy'}, {'id': 87...",354556,Guardians,2017.0
32732,"[{'id': 35, 'name': 'Comedy'}]",306943,The Outcasts,2017.0
33356,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",297762,Wonder Woman,2017.0
33358,"[{'id': 16, 'name': 'Animation'}, {'id': 12, 'name': 'Adventure'}, {'id...",252983,Sly Cooper,2017.0
33361,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}, {'id': 87...",339988,The Circle,2017.0
33370,"[{'id': 35, 'name': 'Comedy'}]",353616,Pitch Perfect 3,2017.0
33753,[],324017,The Master,2017.0
35694,"[{'id': 27, 'name': 'Horror'}]",354216,The Devil's Candy,2017.0
36990,"[{'id': 18, 'name': 'Drama'}]",379388,Las Plantas,2017.0
37619,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'name': 'Horror'}]",207680,"Return to Return to Nuke 'Em High, aka Volume 2",2017.0
38043,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 53, 'name': 'Thriller'}]",392418,The Cheerleader Murders,2017.0
38113,"[{'id': 35, 'name': 'Comedy'}]",305342,Dean,2017.0
38608,"[{'id': 27, 'name': 'Horror'}]",300665,Leatherface,2017.0
39694,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}, {'id': 27...",403119,47 Meters Down,2017.0
39922,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}]",374471,Porto,2017.0
40390,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 1075...",388256,Mamaboy,2017.0
40396,"[{'id': 99, 'name': 'Documentary'}]",413765,David Lynch: The Art Life,2017.0
40506,"[{'id': 36, 'name': 'History'}, {'id': 10749, 'name': 'Romance'}, {'id'...",354859,The Promise,2017.0
40721,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'name': 'Music'}]",402529,All Eyez on Me,2017.0
40843,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'name': 'Comedy'}, {'id': 18,...",339967,Colossal,2017.0
40880,"[{'id': 99, 'name': 'Documentary'}, {'id': 18, 'name': 'Drama'}]",86822,Voyage of Time: Life's Journey,2017.0
40941,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'name': 'Music'}]",394822,London Town,2017.0
40947,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, 'name': 'Thriller'}, {'id'...",324560,Brimstone,2017.0
...,...,...,...,...
45206,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'name': 'Crime'}, {'id': 18...",407448,Detroit,2017.0
45207,"[{'id': 18, 'name': 'Drama'}]",414453,Columbus,2017.0
45214,"[{'id': 99, 'name': 'Documentary'}]",438665,Fittest On Earth: A Decade Of Fitness,2017.0
45215,"[{'id': 53, 'name': 'Thriller'}]",437830,Zero 3,2017.0
45225,"[{'id': 18, 'name': 'Drama'}]",459950,Feed,2017.0
45233,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'name': 'Music'}, {'id': 10...",454774,The Girl from the Song,2017.0
45234,"[{'id': 35, 'name': 'Comedy'}]",433410,Self-criticism of a Bourgeois Dog,2017.0
45238,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, 'name': 'Animation'}, {'id...",423453,Sahara,2017.0
45239,"[{'id': 53, 'name': 'Thriller'}]",451955,The Double Lover,2017.0
45252,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]",410554,First Kill,2017.0
45256,"[{'id': 99, 'name': 'Documentary'}]",450875,LA 92,2017.0
45258,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 10751, 'name': 'Family'}, {'...",417320,Descendants 2,2017.0
45267,"[{'id': 99, 'name': 'Documentary'}, {'id': 10770, 'name': 'TV Movie'}]",458618,Ivanka Trump- America's Real First Lady?,2017.0
45269,"[{'id': 35, 'name': 'Comedy'}]",454787,Chris Gethard: Career Suicide,2017.0
45270,"[{'id': 16, 'name': 'Animation'}]",433471,Lou,2017.0
45287,"[{'id': 18, 'name': 'Drama'}]",432025,The Art of Loving. Story of Michalina Wislocka,2017.0
45332,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 1075...",434166,Bye Bye Germany,2017.0
45335,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, '...",435473,American Violence,2017.0
45339,"[{'id': 35, 'name': 'Comedy'}]",430365,With Open Arms,2017.0
45341,"[{'id': 53, 'name': 'Thriller'}]",395767,Scribe,2017.0
45371,"[{'id': 16, 'name': 'Animation'}]",460135,LEGO DC Super Hero Girls: Brain Drain,2017.0
45373,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'name': 'Crime'}]",426272,Take Me,2017.0
45375,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'name': 'Comedy'}, {'id': 10...",413421,Phillauri,2017.0
45380,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",432789,The Incredible Jessica James,2017.0
45391,"[{'id': 10749, 'name': 'Romance'}]",445126,Can't Buy My Love,2017.0
45398,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",468707,Thick Lashes of Lauri Mäntyvaara,2017.0
45417,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, ...",461297,Cop and a Half: New Recruit,2017.0
45437,"[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id...",455661,In a Heartbeat,2017.0
45453,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, '...",404604,Mom,2017.0
45465,[],461257,Queerama,2017.0

In [575]:
[new_meta][0].head()

#Inside newmeta all details are present like genres,title,year..

,genres,id,title,year
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",141052,Justice League,2017.0
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",284053,Thor: Ragnarok,2017.0
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",283995,Guardians of the Galaxy Vol. 2,2017.0
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",245842,The King's Daughter,2017.0

In [576]:
new_meta.columns

Index(['genres', 'id', 'title', 'year'], dtype='object')

In [577]:
new_meta['id'].head()

26560    166426
26561    141052
26565    284053
26566    283995
30536    245842
Name: id, dtype: object

In [578]:
new_meta['id'].dtype

dtype('O')

In [579]:
#Converting id columns to int type
new_meta['id']=new_meta['id'].astype(int)

In [580]:
#We need to merge credits with the meta data based on id so we will be able to find all actors ,directors name

In [581]:
credits['id'].head()

0      862
1     8844
2    15602
3    31357
4    11862
Name: id, dtype: int64

In [582]:
data=pd.merge(new_meta,credits,on='id')

In [583]:
data

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '..."
5,"[{'id': 53, 'name': 'Thriller'}, {'id': 12, 'name': 'Adventure'}]",279988,Extinction: Nature Has Evolved,2017.0,"[{'cast_id': 3, 'character': 'Professor John Howson', 'credit_id': '53b...","[{'credit_id': '53b4a061c3a3685eb7000232', 'department': 'Directing', '..."
6,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name': 'Comedy'}]",326241,For Here or to Go?,2017.0,"[{'cast_id': 1, 'character': 'Vivek Pandit', 'credit_id': '58b338499251...","[{'credit_id': '54efa9bb9251417968006b3b', 'department': 'Directing', '..."
7,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'name': 'Fantasy'}, {'id': 87...",354556,Guardians,2017.0,"[{'cast_id': 2, 'character': 'Arseniy / Arsus', 'credit_id': '5707c4399...","[{'credit_id': '5707c405925141708d0000ef', 'department': 'Directing', '..."
8,"[{'id': 35, 'name': 'Comedy'}]",306943,The Outcasts,2017.0,"[{'cast_id': 0, 'character': 'Jodi Watson', 'credit_id': '547b4244c3a36...","[{'credit_id': '5558894dc3a3687772008e31', 'department': 'Art', 'gender..."
9,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",297762,Wonder Woman,2017.0,"[{'cast_id': 0, 'character': 'Wonder Woman / Diana Prince', 'credit_id'...","[{'credit_id': '56a93fca9251417dcb001e9f', 'department': 'Writing', 'ge..."
10,"[{'id': 16, 'name': 'Animation'}, {'id': 12, 'name': 'Adventure'}, {'id...",252983,Sly Cooper,2017.0,"[{'cast_id': 2, 'character': 'Murray (voice)', 'credit_id': '53f7f978c3...","[{'credit_id': '53f7f9b1c3a368735e000607', 'department': 'Directing', '..."
11,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}, {'id': 87...",339988,The Circle,2017.0,"[{'cast_id': 14, 'character': 'Mae Holland', 'credit_id': '558ca9ad9251...","[{'credit_id': '55528cd792514114c8000722', 'department': 'Directing', '..."
12,"[{'id': 35, 'name': 'Comedy'}]",353616,Pitch Perfect 3,2017.0,"[{'cast_id': 0, 'character': 'Beca Mitchell', 'credit_id': '55c63e50c3a...","[{'credit_id': '5847033992514166ba023648', 'department': 'Directing', '..."
13,[],324017,The Master,2017.0,"[{'cast_id': 0, 'character': '', 'credit_id': '55e82d0bc3a3682c70001fc8...",[]
14,"[{'id': 27, 'name': 'Horror'}]",354216,The Devil's Candy,2017.0,"[{'cast_id': 1, 'character': 'Jesse', 'credit_id': '55cbab44925141763c0...","[{'credit_id': '55cbaccbc3a36856f60005fb', 'department': 'Directing', '..."
15,"[{'id': 18, 'name': 'Drama'}]",379388,Las Plantas,2017.0,"[{'cast_id': 1, 'character': 'Florencia', 'credit_id': '56a68c66c3a3681...","[{'credit_id': '56a6809f92514129fb000485', 'department': 'Directing', '..."
16,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'name': 'Horror'}]",207680,"Return to Return to Nuke 'Em High, aka Volume 2",2017.0,"[{'cast_id': 5, 'character': 'Chrissy', 'credit_id': '52fe4d39c3a368484...","[{'credit_id': '52fe4d39c3a368484e1dda9b', 'department': 'Directing', '..."
17,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 53, 'name': 'Thriller'}]",392418,The Cheerleader Murders,2017.0,"[{'cast_id': 2, 'character': 'Dee', 'credit_id': '570c1a48c3a36815b9000...","[{'credit_id': '570c19ea9251412be9000023', 'department': 'Directing', '..."
18,"[{'id': 35, 'name': 'Comedy'}]",305342,Dean,2017.0,"[{'cast_id': 2, 'character': 'Dean', 'credit_id': '546fe86fc3a3682fa700...","[{'credit_id': '556c947f9251411a42003de8', 'department': 'Editing', 'ge..."
19,"[{'id': 27, 'name': 'Horror'}]",300665,Leatherface,2017.0,"[{'cast_id': 1, 'character': 'Texas Ranger Hal Hartman', 'credit_id': '...","[{'credit_id': '561f8e3dc3a3680e16002e96', 'department': 'Production', ..."
20,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}, {'id': 27...",403119,47 Meters Down,2017.0,"[{'cast_id': 0, 'character': 'Kate', 'credit_id': '5769bafcc3a368286b00...","[{'credit_id': '579baf2ec3a36847180036e5', 'department': 'Production', ..."
21,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}]",374471,Porto,2017.0,"[{'cast_id': 7, 'character': 'Mati Vargnier', 'credit_id': '56802514925...","[{'credit_id': '568024559251412e5200b981', 'department': 'Directing', '..."
22,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 1075...",388256,Mamaboy,2017.0,"[{'cast_id': 2, 'character': 'Kelly Hankins', 'credit_id': '59254235925...","[{'credit_id': '5911e5699251414edb0464fa', 'department': 'Directing', '..."
23,"[{'id': 99, 'name': 'Documentary'}]",413765,David Lynch: The Art Life,2017.0,"[{'cast_id': 1, 'character': 'Himself', 'credit_id': '57e05349c3a3684dd...","[{'credit_id': '58a1d21f9251413c62005641', 'department': 'Directing', '..."
24,"[{'id': 36, 'name': 'History'}, {'id': 10749, 'name': 'Romance'}, {'id'...",354859,The Promise,2017.0,"[{'cast_id': 4, 'character': 'Mikael Pogosian', 'credit_id': '55d129afc...","[{'credit_id': '578a43c1c3a36866a8001312', 'department': 'Production', ..."
25,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'name': 'Music'}]",402529,All Eyez on Me,2017.0,"[{'cast_id': 3, 'character': 'Tupac Shakur', 'credit_id': '5763c9fd9251...","[{'credit_id': '5763c8e5925141695500039a', 'department': 'Directing', '..."
26,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'name': 'Comedy'}, {'id': 18,...",339967,Colossal,2017.0,"[{'cast_id': 0, 'character': 'Gloria', 'credit_id': '555277f29251411487...","[{'credit_id': '59048464c3a3684ad700b944', 'department': 'Production', ..."
27,"[{'id': 99, 'name': 'Documentary'}, {'id': 18, 'name': 'Drama'}]",86822,Voyage of Time: Life's Journey,2017.0,"[{'cast_id': 6, 'character': 'Narrator (voice)', 'credit_id': '545e7a9f...","[{'credit_id': '58cf933ac3a36811ce002515', 'department': 'Production', ..."
28,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'name': 'Music'}]",394822,London Town,2017.0,"[{'cast_id': 1, 'character': 'Joe Strummer', 'credit_id': '5720cda69251...","[{'credit_id': '5720cd2092514142420000ed', 'department': 'Directing', '..."
29,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, 'name': 'Thriller'}, {'id'...",324560,Brimstone,2017.0,"[{'cast_id': 0, 'character': 'The Reverend', 'credit_id': '54d91b2ec3a3...","[{'credit_id': '54d91b589251410a4b000209', 'department': 'Directing', '..."
...,...,...,...,...,...,...
501,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'name': 'Crime'}, {'id': 18...",407448,Detroit,2017.0,"[{'cast_id': 1, 'character': 'Melvin Dismukes', 'credit_id': '5790cba59...","[{'credit_id': '5790cb97c3a3685b2600abfb', 'department': 'Directing', '..."
502,"[{'id': 18, 'name': 'Drama'}]",414453,Columbus,2017.0,"[{'cast_id': 4, 'character': 'Jin', 'credit_id': '57ce723a92514119ce000...","[{'credit_id': '57ce729ec3a3683d76001a80', 'department': 'Production', ..."
503,"[{'id': 99, 'name': 'Documentary'}]",438665,Fittest On Earth: A Decade Of Fitness,2017.0,"[{'cast_id': 0, 'character': '', 'credit_id': '589236b0c3a368096800af58...","[{'credit_id': '589237bfc3a368097300b05a', 'department': 'Directing', '..."
504,"[{'id': 53, 'name': 'Thriller'}]",437830,Zero 3,2017.0,"[{'cast_id': 3, 'character': 'Rima', 'credit_id': '588d0014c3a3682f1900...","[{'credit_id': '588cffc7c3a3681c19004a5f', 'department': 'Directing', '..."
505,"[{'id': 18, 'name': 'Drama'}]",459950,Feed,2017.0,"[{'cast_id': 1, 'character': 'Olivia Grey', 'credit_id': '592ef8fb92514...","[{'credit_id': '592ef910c3a368614301005c', 'department': 'Writing', 'ge..."
506,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'name': 'Music'}, {'id': 10...",454774,The Girl from the Song,2017.0,"[{'cast_id': 3, 'character': 'Eric', 'credit_id': '59026aef9251410aa800...","[{'credit_id': '59026ef5c3a3684090004b31', 'department': 'Sound', 'gend..."
507,"[{'id': 35, 'name': 'Comedy'}]",433410,Self-criticism of a Bourgeois Dog,2017.0,"[{'cast_id': 1, 'character': 'Julian', 'credit_id': '59d0d86b925141468f...","[{'credit_id': '586e9b51925141296300a373', 'department': 'Directing', '..."
508,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, 'name': 'Animation'}, {'id...",423453,Sahara,2017.0,"[{'cast_id': 0, 'character': 'Ajar (voice)', 'credit_id': '5815b17a9251...","[{'credit_id': '5815b1bc9251415c5e00a502', 'department': 'Directing', '..."
509,"[{'id': 53, 'name': 'Thriller'}]",451955,The Double Lover,2017.0,"[{'cast_id': 2, 'character': 'Chloé', 'credit_id': '58ef66a9c3a36826260...","[{'credit_id': '58ef697d925141420200cd93', 'department': 'Directing', '..."
510,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]",410554,First Kill,2017.0,"[{'cast_id': 0, 'character': 'Police Chief', 'credit_id': '57a912dbc3a3...","[{'credit_id': '58f7efd9c3a368761b000385', 'department': 'Production', ..."
511,"[{'id': 99, 'name': 'Documentary'}]",450875,LA 92,2017.0,"[{'cast_id': 11, 'character': 'Himself (Archive Footage)', 'credit_id':...","[{'credit_id': '58e6647792514179de036b01', 'department': 'Directing', '..."
512,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 10751, 'name': 'Family'}, {'...",417320,Descendants 2,2017.0,"[{'cast_id': 3, 'character': 'Mal', 'credit_id': '57e3b5b2c3a36875a1004...","[{'credit_id': '57e3b56ac3a3682cb3001e4f', 'department': 'Directing', '..."
513,"[{'id': 99, 'name': 'Documentary'}, {'id': 10770, 'name': 'TV Movie'}]",458618,Ivanka Trump- America's Real First Lady?,2017.0,"[{'cast_id': 0, 'character': 'Herself', 'credit_id': '59233f18925141051...",[]
514,"[{'id': 35, 'name': 'Comedy'}]",454787,Chris Gethard: Career Suicide,2017.0,"[{'cast_id': 3, 'character': 'Himself', 'credit_id': '59028a40c3a36828b...","[{'credit_id': '59028a2f9251413e1d000ad8', 'department': 'Production', ..."
515,"[{'id': 16, 'name': 'Animation'}]",433471,Lou,2017.0,[],"[{'credit_id': '586ee75d9251412c32000304', 'department': 'Directing', '..."
516,"[{'id': 18, 'name': 'Drama'}]",432025,The Art of Loving. Story of Michalina Wislocka,2017.0,"[{'cast_id': 0, 'character': 'Michalina Wisłocka', 'credit_id': '5863af...","[{'credit_id': '5863b2ed9251412b8400c388', 'department': 'Directing', '..."
517,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 1075...",434166,Bye Bye Germany,2017.0,"[{'cast_id': 1, 'character': 'Fränkel', 'credit_id': '587420f2c3a368173...","[{'credit_id': '587420e09251410e65013d7a', 'department': 'Directing', '..."
518,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, '...",435473,American Violence,2017.0,"[{'cast_id': 2, 'character': 'Jackson Shea', 'credit_id': '587d7439c3a3...","[{'credit_id': '587d74d8c3a3684a9e01db50', 'department': 'Directing', '..."
519,"[{'id': 35, 'name': 'Comedy'}]",430365,With Open Arms,2017.0,"[{'cast_id': 0, 'character': 'Jean-Etienne Fougerole', 'credit_id': '58...","[{'credit_id': '58fa930592514163f5002e8e', 'department': 'Production', ..."
520,"[{'id': 53, 'name': 'Thriller'}]",395767,Scribe,2017.0,"[{'cast_id': 1, 'character': 'Duval', 'credit_id': '5727a16692514154430...","[{'credit_id': '57cab8cd9251413514002172', 'department': 'Writing', 'ge..."
521,"[{'id': 16, 'name': 'Animation'}]",460135,LEGO DC Super Hero Girls: Brain Drain,2017.0,"[{'cast_id': 0, 'character': 'Wonder Woman', 'credit_id': '593135af9251...","[{'credit_id': '593136c092514115e500aafd', 'department': 'Production', ..."
522,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'name': 'Crime'}]",426272,Take Me,2017.0,"[{'cast_id': 1, 'character': 'Anna St. Blair', 'credit_id': '58e3e83fc3...","[{'credit_id': '582c3222c3a36872c0006604', 'department': 'Directing', '..."
523,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'name': 'Comedy'}, {'id': 10...",413421,Phillauri,2017.0,"[{'cast_id': 5, 'character': 'Shashi', 'credit_id': '57c59af1c3a36815bd...","[{'credit_id': '57c59a9bc3a36815c70036ff', 'department': 'Directing', '..."
524,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",432789,The Incredible Jessica James,2017.0,"[{'cast_id': 6, 'character': 'Jessica James', 'credit_id': '586a69c1925...","[{'credit_id': '586a688dc3a3680f4e017d65', 'department': 'Directing', '..."
525,"[{'id': 10749, 'name': 'Romance'}]",445126,Can't Buy My Love,2017.0,"[{'cast_id': 0, 'character': 'Lilly', 'credit_id': '58bbff30c3a368668f0...","[{'credit_id': '58bbffb4925141609e037090', 'department': 'Directing', '..."
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",468707,Thick Lashes of Lauri Mäntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_id': '597e2086c3a368544001...","[{'credit_id': '597e22f69251415d7801c74a', 'department': 'Directing', '..."
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, ...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmons', 'credit_id': '593ba04...","[{'credit_id': '593ba0c29251410593009be3', 'department': 'Writing', 'ge..."
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'department': 'Sound', 'gend..."
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, '...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal', 'credit_id': '577809adc3...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'department': 'Sound', 'gend..."
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'department': 'Directing', '..."

In [584]:
data.columns

Index(['genres', 'id', 'title', 'year', 'cast', 'crew'], dtype='object')

In [585]:
data['genres'].dtype #genres is mainly object type

dtype('O')

In [586]:
pd.set_option('display.max_colwidth',75)
data

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '..."
5,"[{'id': 53, 'name': 'Thriller'}, {'id': 12, 'name': 'Adventure'}]",279988,Extinction: Nature Has Evolved,2017.0,"[{'cast_id': 3, 'character': 'Professor John Howson', 'credit_id': '53b...","[{'credit_id': '53b4a061c3a3685eb7000232', 'department': 'Directing', '..."
6,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name': 'Comedy'}]",326241,For Here or to Go?,2017.0,"[{'cast_id': 1, 'character': 'Vivek Pandit', 'credit_id': '58b338499251...","[{'credit_id': '54efa9bb9251417968006b3b', 'department': 'Directing', '..."
7,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'name': 'Fantasy'}, {'id': 87...",354556,Guardians,2017.0,"[{'cast_id': 2, 'character': 'Arseniy / Arsus', 'credit_id': '5707c4399...","[{'credit_id': '5707c405925141708d0000ef', 'department': 'Directing', '..."
8,"[{'id': 35, 'name': 'Comedy'}]",306943,The Outcasts,2017.0,"[{'cast_id': 0, 'character': 'Jodi Watson', 'credit_id': '547b4244c3a36...","[{'credit_id': '5558894dc3a3687772008e31', 'department': 'Art', 'gender..."
9,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",297762,Wonder Woman,2017.0,"[{'cast_id': 0, 'character': 'Wonder Woman / Diana Prince', 'credit_id'...","[{'credit_id': '56a93fca9251417dcb001e9f', 'department': 'Writing', 'ge..."
10,"[{'id': 16, 'name': 'Animation'}, {'id': 12, 'name': 'Adventure'}, {'id...",252983,Sly Cooper,2017.0,"[{'cast_id': 2, 'character': 'Murray (voice)', 'credit_id': '53f7f978c3...","[{'credit_id': '53f7f9b1c3a368735e000607', 'department': 'Directing', '..."
11,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}, {'id': 87...",339988,The Circle,2017.0,"[{'cast_id': 14, 'character': 'Mae Holland', 'credit_id': '558ca9ad9251...","[{'credit_id': '55528cd792514114c8000722', 'department': 'Directing', '..."
12,"[{'id': 35, 'name': 'Comedy'}]",353616,Pitch Perfect 3,2017.0,"[{'cast_id': 0, 'character': 'Beca Mitchell', 'credit_id': '55c63e50c3a...","[{'credit_id': '5847033992514166ba023648', 'department': 'Directing', '..."
13,[],324017,The Master,2017.0,"[{'cast_id': 0, 'character': '', 'credit_id': '55e82d0bc3a3682c70001fc8...",[]
14,"[{'id': 27, 'name': 'Horror'}]",354216,The Devil's Candy,2017.0,"[{'cast_id': 1, 'character': 'Jesse', 'credit_id': '55cbab44925141763c0...","[{'credit_id': '55cbaccbc3a36856f60005fb', 'department': 'Directing', '..."
15,"[{'id': 18, 'name': 'Drama'}]",379388,Las Plantas,2017.0,"[{'cast_id': 1, 'character': 'Florencia', 'credit_id': '56a68c66c3a3681...","[{'credit_id': '56a6809f92514129fb000485', 'department': 'Directing', '..."
16,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'name': 'Horror'}]",207680,"Return to Return to Nuke 'Em High, aka Volume 2",2017.0,"[{'cast_id': 5, 'character': 'Chrissy', 'credit_id': '52fe4d39c3a368484...","[{'credit_id': '52fe4d39c3a368484e1dda9b', 'department': 'Directing', '..."
17,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 53, 'name': 'Thriller'}]",392418,The Cheerleader Murders,2017.0,"[{'cast_id': 2, 'character': 'Dee', 'credit_id': '570c1a48c3a36815b9000...","[{'credit_id': '570c19ea9251412be9000023', 'department': 'Directing', '..."
18,"[{'id': 35, 'name': 'Comedy'}]",305342,Dean,2017.0,"[{'cast_id': 2, 'character': 'Dean', 'credit_id': '546fe86fc3a3682fa700...","[{'credit_id': '556c947f9251411a42003de8', 'department': 'Editing', 'ge..."
19,"[{'id': 27, 'name': 'Horror'}]",300665,Leatherface,2017.0,"[{'cast_id': 1, 'character': 'Texas Ranger Hal Hartman', 'credit_id': '...","[{'credit_id': '561f8e3dc3a3680e16002e96', 'department': 'Production', ..."
20,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}, {'id': 27...",403119,47 Meters Down,2017.0,"[{'cast_id': 0, 'character': 'Kate', 'credit_id': '5769bafcc3a368286b00...","[{'credit_id': '579baf2ec3a36847180036e5', 'department': 'Production', ..."
21,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}]",374471,Porto,2017.0,"[{'cast_id': 7, 'character': 'Mati Vargnier', 'credit_id': '56802514925...","[{'credit_id': '568024559251412e5200b981', 'department': 'Directing', '..."
22,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 1075...",388256,Mamaboy,2017.0,"[{'cast_id': 2, 'character': 'Kelly Hankins', 'credit_id': '59254235925...","[{'credit_id': '5911e5699251414edb0464fa', 'department': 'Directing', '..."
23,"[{'id': 99, 'name': 'Documentary'}]",413765,David Lynch: The Art Life,2017.0,"[{'cast_id': 1, 'character': 'Himself', 'credit_id': '57e05349c3a3684dd...","[{'credit_id': '58a1d21f9251413c62005641', 'department': 'Directing', '..."
24,"[{'id': 36, 'name': 'History'}, {'id': 10749, 'name': 'Romance'}, {'id'...",354859,The Promise,2017.0,"[{'cast_id': 4, 'character': 'Mikael Pogosian', 'credit_id': '55d129afc...","[{'credit_id': '578a43c1c3a36866a8001312', 'department': 'Production', ..."
25,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'name': 'Music'}]",402529,All Eyez on Me,2017.0,"[{'cast_id': 3, 'character': 'Tupac Shakur', 'credit_id': '5763c9fd9251...","[{'credit_id': '5763c8e5925141695500039a', 'department': 'Directing', '..."
26,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'name': 'Comedy'}, {'id': 18,...",339967,Colossal,2017.0,"[{'cast_id': 0, 'character': 'Gloria', 'credit_id': '555277f29251411487...","[{'credit_id': '59048464c3a3684ad700b944', 'department': 'Production', ..."
27,"[{'id': 99, 'name': 'Documentary'}, {'id': 18, 'name': 'Drama'}]",86822,Voyage of Time: Life's Journey,2017.0,"[{'cast_id': 6, 'character': 'Narrator (voice)', 'credit_id': '545e7a9f...","[{'credit_id': '58cf933ac3a36811ce002515', 'department': 'Production', ..."
28,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'name': 'Music'}]",394822,London Town,2017.0,"[{'cast_id': 1, 'character': 'Joe Strummer', 'credit_id': '5720cda69251...","[{'credit_id': '5720cd2092514142420000ed', 'department': 'Directing', '..."
29,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, 'name': 'Thriller'}, {'id'...",324560,Brimstone,2017.0,"[{'cast_id': 0, 'character': 'The Reverend', 'credit_id': '54d91b2ec3a3...","[{'credit_id': '54d91b589251410a4b000209', 'department': 'Directing', '..."
...,...,...,...,...,...,...
501,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'name': 'Crime'}, {'id': 18...",407448,Detroit,2017.0,"[{'cast_id': 1, 'character': 'Melvin Dismukes', 'credit_id': '5790cba59...","[{'credit_id': '5790cb97c3a3685b2600abfb', 'department': 'Directing', '..."
502,"[{'id': 18, 'name': 'Drama'}]",414453,Columbus,2017.0,"[{'cast_id': 4, 'character': 'Jin', 'credit_id': '57ce723a92514119ce000...","[{'credit_id': '57ce729ec3a3683d76001a80', 'department': 'Production', ..."
503,"[{'id': 99, 'name': 'Documentary'}]",438665,Fittest On Earth: A Decade Of Fitness,2017.0,"[{'cast_id': 0, 'character': '', 'credit_id': '589236b0c3a368096800af58...","[{'credit_id': '589237bfc3a368097300b05a', 'department': 'Directing', '..."
504,"[{'id': 53, 'name': 'Thriller'}]",437830,Zero 3,2017.0,"[{'cast_id': 3, 'character': 'Rima', 'credit_id': '588d0014c3a3682f1900...","[{'credit_id': '588cffc7c3a3681c19004a5f', 'department': 'Directing', '..."
505,"[{'id': 18, 'name': 'Drama'}]",459950,Feed,2017.0,"[{'cast_id': 1, 'character': 'Olivia Grey', 'credit_id': '592ef8fb92514...","[{'credit_id': '592ef910c3a368614301005c', 'department': 'Writing', 'ge..."
506,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'name': 'Music'}, {'id': 10...",454774,The Girl from the Song,2017.0,"[{'cast_id': 3, 'character': 'Eric', 'credit_id': '59026aef9251410aa800...","[{'credit_id': '59026ef5c3a3684090004b31', 'department': 'Sound', 'gend..."
507,"[{'id': 35, 'name': 'Comedy'}]",433410,Self-criticism of a Bourgeois Dog,2017.0,"[{'cast_id': 1, 'character': 'Julian', 'credit_id': '59d0d86b925141468f...","[{'credit_id': '586e9b51925141296300a373', 'department': 'Directing', '..."
508,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, 'name': 'Animation'}, {'id...",423453,Sahara,2017.0,"[{'cast_id': 0, 'character': 'Ajar (voice)', 'credit_id': '5815b17a9251...","[{'credit_id': '5815b1bc9251415c5e00a502', 'department': 'Directing', '..."
509,"[{'id': 53, 'name': 'Thriller'}]",451955,The Double Lover,2017.0,"[{'cast_id': 2, 'character': 'Chloé', 'credit_id': '58ef66a9c3a36826260...","[{'credit_id': '58ef697d925141420200cd93', 'department': 'Directing', '..."
510,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]",410554,First Kill,2017.0,"[{'cast_id': 0, 'character': 'Police Chief', 'credit_id': '57a912dbc3a3...","[{'credit_id': '58f7efd9c3a368761b000385', 'department': 'Production', ..."
511,"[{'id': 99, 'name': 'Documentary'}]",450875,LA 92,2017.0,"[{'cast_id': 11, 'character': 'Himself (Archive Footage)', 'credit_id':...","[{'credit_id': '58e6647792514179de036b01', 'department': 'Directing', '..."
512,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 10751, 'name': 'Family'}, {'...",417320,Descendants 2,2017.0,"[{'cast_id': 3, 'character': 'Mal', 'credit_id': '57e3b5b2c3a36875a1004...","[{'credit_id': '57e3b56ac3a3682cb3001e4f', 'department': 'Directing', '..."
513,"[{'id': 99, 'name': 'Documentary'}, {'id': 10770, 'name': 'TV Movie'}]",458618,Ivanka Trump- America's Real First Lady?,2017.0,"[{'cast_id': 0, 'character': 'Herself', 'credit_id': '59233f18925141051...",[]
514,"[{'id': 35, 'name': 'Comedy'}]",454787,Chris Gethard: Career Suicide,2017.0,"[{'cast_id': 3, 'character': 'Himself', 'credit_id': '59028a40c3a36828b...","[{'credit_id': '59028a2f9251413e1d000ad8', 'department': 'Production', ..."
515,"[{'id': 16, 'name': 'Animation'}]",433471,Lou,2017.0,[],"[{'credit_id': '586ee75d9251412c32000304', 'department': 'Directing', '..."
516,"[{'id': 18, 'name': 'Drama'}]",432025,The Art of Loving. Story of Michalina Wislocka,2017.0,"[{'cast_id': 0, 'character': 'Michalina Wisłocka', 'credit_id': '5863af...","[{'credit_id': '5863b2ed9251412b8400c388', 'department': 'Directing', '..."
517,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 1075...",434166,Bye Bye Germany,2017.0,"[{'cast_id': 1, 'character': 'Fränkel', 'credit_id': '587420f2c3a368173...","[{'credit_id': '587420e09251410e65013d7a', 'department': 'Directing', '..."
518,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, '...",435473,American Violence,2017.0,"[{'cast_id': 2, 'character': 'Jackson Shea', 'credit_id': '587d7439c3a3...","[{'credit_id': '587d74d8c3a3684a9e01db50', 'department': 'Directing', '..."
519,"[{'id': 35, 'name': 'Comedy'}]",430365,With Open Arms,2017.0,"[{'cast_id': 0, 'character': 'Jean-Etienne Fougerole', 'credit_id': '58...","[{'credit_id': '58fa930592514163f5002e8e', 'department': 'Production', ..."
520,"[{'id': 53, 'name': 'Thriller'}]",395767,Scribe,2017.0,"[{'cast_id': 1, 'character': 'Duval', 'credit_id': '5727a16692514154430...","[{'credit_id': '57cab8cd9251413514002172', 'department': 'Writing', 'ge..."
521,"[{'id': 16, 'name': 'Animation'}]",460135,LEGO DC Super Hero Girls: Brain Drain,2017.0,"[{'cast_id': 0, 'character': 'Wonder Woman', 'credit_id': '593135af9251...","[{'credit_id': '593136c092514115e500aafd', 'department': 'Production', ..."
522,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'name': 'Crime'}]",426272,Take Me,2017.0,"[{'cast_id': 1, 'character': 'Anna St. Blair', 'credit_id': '58e3e83fc3...","[{'credit_id': '582c3222c3a36872c0006604', 'department': 'Directing', '..."
523,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'name': 'Comedy'}, {'id': 10...",413421,Phillauri,2017.0,"[{'cast_id': 5, 'character': 'Shashi', 'credit_id': '57c59af1c3a36815bd...","[{'credit_id': '57c59a9bc3a36815c70036ff', 'department': 'Directing', '..."
524,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",432789,The Incredible Jessica James,2017.0,"[{'cast_id': 6, 'character': 'Jessica James', 'credit_id': '586a69c1925...","[{'credit_id': '586a688dc3a3680f4e017d65', 'department': 'Directing', '..."
525,"[{'id': 10749, 'name': 'Romance'}]",445126,Can't Buy My Love,2017.0,"[{'cast_id': 0, 'character': 'Lilly', 'credit_id': '58bbff30c3a368668f0...","[{'credit_id': '58bbffb4925141609e037090', 'department': 'Directing', '..."
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",468707,Thick Lashes of Lauri Mäntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_id': '597e2086c3a368544001...","[{'credit_id': '597e22f69251415d7801c74a', 'department': 'Directing', '..."
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, ...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmons', 'credit_id': '593ba04...","[{'credit_id': '593ba0c29251410593009be3', 'department': 'Writing', 'ge..."
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'department': 'Sound', 'gend..."
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, '...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal', 'credit_id': '577809adc3...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'department': 'Sound', 'gend..."
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'department': 'Directing', '..."

In [587]:
#Genres is basically a list of dictionaries of type object(ie string form) and we need to convert it to list . To convert string to a list we import ast and
#within ast we have function litral which converts a string into list.The same thing we do for cast as well as crew

In [588]:
import ast
data['genres'][0]

"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 14, 'name': 'Fantasy'}, {'id': 35, 'name': 'Comedy'}]"

In [589]:

# evaluates an expression node or a string containing a Python literal or container display
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [590]:
print(data['genres'][0])

[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 14, 'name': 'Fantasy'}, {'id': 35, 'name': 'Comedy'}]

In [591]:
#To make name shorter we convert Science Fiction to Sci-Fi
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [592]:
data['genres_list'] = data['genres'].map(lambda x: make_genresList(x))

In [627]:
data['genres_list']

0                    Adventure Action Fantasy Comedy
1                    Action Adventure Fantasy Sci-Fi
2                    Action Adventure Fantasy Sci-Fi
3                     Action Adventure Comedy Sci-Fi
4                           Fantasy Action Adventure
5                                 Thriller Adventure
6                                       Drama Comedy
7                              Action Fantasy Sci-Fi
8                                             Comedy
9                           Action Adventure Fantasy
10          Animation Adventure Comedy Action Family
11                             Drama Thriller Sci-Fi
12                                            Comedy
13                                               NaN
14                                            Horror
15                                             Drama
16                                     Comedy Horror
17                                 TV Movie Thriller
18                                            Comedy
19                                            Horror
20                   Drama Thriller Horror Adventure
21                                     Romance Drama
22        Comedy Drama Family Fantasy Romance Sci-Fi
23                                       Documentary
24                             History Romance Drama
25                                       Drama Music
26                Action Comedy Drama Fantasy Sci-Fi
27                                 Documentary Drama
28                                       Drama Music
29                          Mystery Thriller Western
                           ...
501                     Thriller Crime Drama History
502                                            Drama
503                                      Documentary
504                                         Thriller
505                                            Drama
506                              Drama Music Romance
507                                           Comedy
508                Adventure Animation Comedy Family
509                                         Thriller
510                                  Action Thriller
511                                      Documentary
512    TV Movie Family Action Comedy Music Adventure
513                             Documentary TV Movie
514                                           Comedy
515                                        Animation
516                                            Drama
517                                 Comedy Drama War
518                             Crime Drama Thriller
519                                           Comedy
520                                         Thriller
521                                        Animation
522                                     Comedy Crime
523                     Fantasy Comedy Romance Drama
524                                   Romance Comedy
525                                          Romance
526                                   Romance Comedy
527                       Crime Comedy Action Family
528                  Family Animation Romance Comedy
529                             Crime Drama Thriller
530                                              NaN
Name: genres_list, Length: 531, dtype: object

In [594]:
data['cast'][0]

[{'cast_id': 1,
  'character': 'Captain Jack Sparrow',
  'credit_id': '52fe4c9cc3a36847f8236a53',
  'gender': 2,
  'id': 85,
  'name': 'Johnny Depp',
  'order': 0,
  'profile_path': '/kbWValANhZI8rbWZXximXuMN4UN.jpg'},
 {'cast_id': 9,
  'character': 'Captain Armando Salazar',
  'credit_id': '54db4949c3a368122d0017fe',
  'gender': 2,
  'id': 3810,
  'name': 'Javier Bardem',
  'order': 1,
  'profile_path': '/grBOK7Ep09JBE3H5LyV5JaZZ1XZ.jpg'},
 {'cast_id': 16,
  'character': 'Captain Hector Barbossa',
  'credit_id': '54e44e5ec3a368454b00a02f',
  'gender': 2,
  'id': 118,
  'name': 'Geoffrey Rush',
  'order': 2,
  'profile_path': '/5h91WHSK80YtqTk1bMiar2IZzO2.jpg'},
 {'cast_id': 7,
  'character': 'Henry Turner',
  'credit_id': '54db49359251415a0d0012a0',
  'gender': 2,
  'id': 1017347,
  'name': 'Brenton Thwaites',
  'order': 3,
  'profile_path': '/dM0m0OxREfW4HxwV2qQeitS8dfO.jpg'},
 {'cast_id': 8,
  'character': 'Carina Smyth',
  'credit_id': '54db493e925141618f00189a',
  'gender': 1,
  'id': 115150,
  'name': 'Kaya Scodelario',
  'order': 4,
  'profile_path': '/iTrPnn7oS96k0iWPzNxaKCNutB6.jpg'},
 {'cast_id': 14,
  'character': 'Joshamee Gibbs',
  'credit_id': '54e44e31c3a368087b004b56',
  'gender': 2,
  'id': 2449,
  'name': 'Kevin McNally',
  'order': 5,
  'profile_path': '/fIJF3TZn8ckHkcl44oX77GvPv9e.jpg'},
 {'cast_id': 15,
  'character': 'Scrum',
  'credit_id': '54e44e4fc3a3684897002c08',
  'gender': 2,
  'id': 1115,
  'name': 'Stephen Graham',
  'order': 6,
  'profile_path': '/81VZiCA6w8nXG0UjqXCgSJare5N.jpg'},
 {'cast_id': 28,
  'character': 'Scarfield',
  'credit_id': '57f68ea49251413616007300',
  'gender': 2,
  'id': 1371,
  'name': 'David Wenham',
  'order': 7,
  'profile_path': '/xDUXLTF5i2fYx7eSEAR3IdaUb9y.jpg'},
 {'cast_id': 13,
  'character': 'Shansa',
  'credit_id': '54e44e0cc3a3685756009e87',
  'gender': 1,
  'id': 229932,
  'name': 'Golshifteh Farahani',
  'order': 8,
  'profile_path': '/lbsd2lAIQq4egOUXDIfjhte12vv.jpg'},
 {'cast_id': 17,
  'character': 'Will Turner',
  'credit_id': '554768e292514119e00065f8',
  'gender': 2,
  'id': 114,
  'name': 'Orlando Bloom',
  'order': 9,
  'profile_path': '/kKWJlX2tcjqceSfUxnV7Jle5Kt.jpg'},
 {'cast_id': 18,
  'character': 'Marty',
  'credit_id': '554769499251411147001bcb',
  'gender': 2,
  'id': 4030,
  'name': 'Martin Klebba',
  'order': 10,
  'profile_path': '/amlhUrXQ7t1NEPajdj2dQdbC0rt.jpg'},
 {'cast_id': 23,
  'character': 'Mullroy',
  'credit_id': '57e2922bc3a36808b900c1a3',
  'gender': 2,
  'id': 1714,
  'name': 'Angus Barnett',
  'order': 11,
  'profile_path': '/usYsWRccdM4Y00RycsQFFOdNVe.jpg'},
 {'cast_id': 19,
  'character': 'Cremble',
  'credit_id': '55476961c3a3680ce80091da',
  'gender': 0,
  'id': 1193833,
  'name': 'Adam Brown',
  'order': 12,
  'profile_path': '/54iHvIA8ZTNfvKpb2ZxRY73A5MZ.jpg'},
 {'cast_id': 38,
  'character': 'Bollard',
  'credit_id': '57f68ea7925141360100754f',
  'gender': 0,
  'id': 1355191,
  'name': 'Danny Kirrane',
  'order': 13,
  'profile_path': '/vn4NIHMJb0Sf39MOP3cgMdk2N8h.jpg'},
 {'cast_id': 22,
  'character': 'Murtogg',
  'credit_id': '57e29210c3a3680a110056ca',
  'gender': 0,
  'id': 1713,
  'name': 'Giles New',
  'order': 14,
  'profile_path': '/e0Ap9fkLAFcxLVHpK8KH2TQV3wI.jpg'},
 {'cast_id': 84,
  'character': 'Pike',
  'credit_id': '591f7a46c3a368723d03b63b',
  'gender': 0,
  'id': 1819920,
  'name': 'Delroy Atkinson',
  'order': 15,
  'profile_path': '/XcMnuXUPLNYzRL58s5TKPUFq2g.jpg'},
 {'cast_id': 21,
  'character': 'Uncle Jack',
  'credit_id': '57e291cf92514118f700625d',
  'gender': 2,
  'id': 10215,
  'name': 'Paul McCartney',
  'order': 16,
  'profile_path': '/v7FagbD9EY4MVUtcrk9ESjPWV7q.jpg'},
 {'cast_id': 43,
  'character': 'Elizabeth Swann',
  'credit_id': '58f708cf9251415dec00953a',
  'gender': 1,
  'id': 116,
  'name': 'Keira Knightley',
  'order': 17,
  'profile_path': '/rv6quYbTgFTmBAoePwy5xuurW3g.jpg'},
 {'cast_id': 91,
  'character': 'Young Jack Sparrow',
  'credit_id': '59338b3dc3a3685a35016ca6',
  'gender': 0,
  'id': 1772106,
  'name': 'Anthony De La Torre',
  'order': 18,
  'profile_path': '/sgtspl6fcAuhPo4wKYkzlzSgvmg.jpg'},
 {'cast_id': 92,
  'character': 'Young Henry Turner',
  'credit_id': '59338b66c3a36859de01633a',
  'gender': 2,
  'id': 1828139,
  'name': 'Lewis McGowan',
  'order': 19,
  'profile_path': '/27pyhArCRR8ZqIyiak9c0N0l1nz.jpg'},
 {'cast_id': 85,
  'character': 'Lieutenant Lesaro',
  'credit_id': '591f7a8cc3a368799b037a0a',
  'gender': 2,
  'id': 1089049,
  'name': 'Juan Carlos Vellido',
  'order': 20,
  'profile_path': '/m1GEfFgcDNPTCTGUhrita7d5ec1.jpg'},
 {'cast_id': 86,
  'character': 'Officer Madga',
  'credit_id': '591f7acc925141482f039128',
  'gender': 0,
  'id': 1530814,
  'name': 'Rodney Afif',
  'order': 21,
  'profile_path': '/wr1gTOcRcyKO4fYlUwsPLRlP7bn.jpg'},
 {'cast_id': 87,
  'character': 'Mayor Dix',
  'credit_id': '591f7ae1c3a3687a64039857',
  'gender': 2,
  'id': 27752,
  'name': 'Bruce Spence',
  'order': 22,
  'profile_path': '/pwJJBmO9MG3OxVX9efGrB6BTFyw.jpg'},
 {'cast_id': 31,
  'character': "Mayor's Wife",
  'credit_id': '57f68ea5c3a3681607006e8c',
  'gender': 1,
  'id': 61914,
  'name': 'Zoe Ventoura',
  'order': 23,
  'profile_path': '/fMBiXCtCTqpEmjAfTVC3NssVMCk.jpg'},
 {'cast_id': 33,
  'character': 'Maddox',
  'credit_id': '57f68ea6c3a3681607006e8e',
  'gender': 2,
  'id': 1112872,
  'name': 'James Mackay',
  'order': 24,
  'profile_path': '/nJPYaP94wXwh1bYnFzkQh1BB30l.jpg'},
 {'cast_id': 51,
  'character': 'Upper Class Lady',
  'credit_id': '591293c59251414edb04e228',
  'gender': 1,
  'id': 1813772,
  'name': 'Brooke Chamberlain',
  'order': 25,
  'profile_path': '/vYqTEUUY4EG6jPzP5wnZNhy4aAy.jpg'},
 {'cast_id': 45,
  'character': 'Young Captain Teague',
  'credit_id': '5912926dc3a368646b0521a2',
  'gender': 2,
  'id': 16811,
  'name': 'Alexander Scheer',
  'order': 26,
  'profile_path': '/f6eWj5VEMBb3O3aviqgMoujM3kf.jpg'},
 {'cast_id': 32,
  'character': 'Pirate Broom',
  'credit_id': '57f68ea5925141360d007429',
  'gender': 0,
  'id': 61784,
  'name': 'Goran D. Kleut',
  'order': 27,
  'profile_path': '/ikAVxzlgo4bXQWn4GpoFfDrgnth.jpg'},
 {'cast_id': 40,
  'character': 'Pirate',
  'credit_id': '57f68ea892514136130074b0',
  'gender': 0,
  'id': 1535048,
  'name': 'Wassim Hawat',
  'order': 28,
  'profile_path': '/yTJCBoDa1OKt7h6JDKYaZnlLqeA.jpg'},
 {'cast_id': 37,
  'character': 'British Executioner',
  'credit_id': '57f68ea7925141360100754d',
  'gender': 0,
  'id': 1394235,
  'name': "Ben O'Toole",
  'order': 29,
  'profile_path': '/f9cCCp1PlRZo4sWdwppHTeOC8kZ.jpg'},
 {'cast_id': 42,
  'character': 'Young Pirate Jeff',
  'credit_id': '57f68ea8c3a368161c007391',
  'gender': 2,
  'id': 1690240,
  'name': 'Finn Ireland',
  'order': 30,
  'profile_path': '/x1IZJZLFHboPhZbdycZcNo2kZoM.jpg'},
 {'cast_id': 44,
  'character': 'Spanish Officer',
  'credit_id': '59129248c3a36864ec048639',
  'gender': 0,
  'id': 1414764,
  'name': 'Nico Cortez',
  'order': 31,
  'profile_path': '/ujk9vAlutbLUe9VbjPE6RDuQqVC.jpg'},
 {'cast_id': 49,
  'character': 'Young Greenhorn',
  'credit_id': '591293549251414eca04accf',
  'gender': 0,
  'id': 1394227,
  'name': 'James Fraser',
  'order': 32,
  'profile_path': '/4lcpUIRwFVmPkkxUvYdUNSQQddc.jpg'},
 {'cast_id': 115,
  'character': 'Woman',
  'credit_id': '59c783a3c3a368140305a3f1',
  'gender': 0,
  'id': 1499792,
  'name': 'Derani Scarr',
  'order': 33,
  'profile_path': '/aob0mfWTaJaUlHDVef2dA7Dlwhc.jpg'},
 {'cast_id': 93,
  'character': 'Grimes',
  'credit_id': '5999d18a9251414a18001dd4',
  'gender': 0,
  'id': 126200,
  'name': 'Robert Morgan',
  'order': 34,
  'profile_path': '/8sFiiilQmp2jvLKn6h5QPchA5Gq.jpg'},
 {'cast_id': 94,
  'character': 'Pirate with Broom',
  'credit_id': '59a67afe9251411293009e0c',
  'gender': 0,
  'id': 61784,
  'name': 'Goran D. Kleut',
  'order': 35,
  'profile_path': '/ikAVxzlgo4bXQWn4GpoFfDrgnth.jpg'},
 {'cast_id': 29,
  'character': 'Spanish Soldier',
  'credit_id': '57f68ea5925141360100754a',
  'gender': 2,
  'id': 1386458,
  'name': 'Mahesh Jadu',
  'order': 36,
  'profile_path': '/gfcZiYji4x3tjGQq7vTK8goz40D.jpg'},
 {'cast_id': 34,
  'character': 'British Soldier',
  'credit_id': '57f68ea692514136130074ae',
  'gender': 0,
  'id': 1394427,
  'name': 'Travis Jeffery',
  'order': 37,
  'profile_path': '/lOR40uoh60aKx3ORArhKBQAaBO6.jpg'},
 {'cast_id': 111,
  'character': 'British Soldier',
  'credit_id': '59c77df0c3a36813ed057ad8',
  'gender': 0,
  'id': 1205492,
  'name': 'Akos Armont',
  'order': 38,
  'profile_path': '/t0nRw07H8aXtzz7az5yjDSZwVVg.jpg'},
 {'cast_id': 104,
  'character': 'British Soldier',
  'credit_id': '59c6c742c3a368141e044fa3',
  'gender': 0,
  'id': 1533328,
  'name': 'Sean Lynch',
  'order': 39,
  'profile_path': '/m8Q9SaYTWJ5iXLoS2E4zvcD4tQ1.jpg'},
 {'cast_id': 95,
  'character': 'British Soldier',
  'credit_id': '59a67b84c3a36827990085f8',
  'gender': 0,
  'id': 1394235,
  'name': "Ben O'Toole",
  'order': 40,
  'profile_path': '/f9cCCp1PlRZo4sWdwppHTeOC8kZ.jpg'},
 {'cast_id': 105,
  'character': 'CG Ghost Soldier',
  'credit_id': '59c6c7d69251415b32049e77',
  'gender': 0,
  'id': 1893668,
  'name': 'Akshay Caplash',
  'order': 41,
  'profile_path': '/s3QTX4IdN3wUNN9YiZBid2ANhmM.jpg'},
 {'cast_id': 106,
  'character': 'CG Ghost Soldier',
  'credit_id': '59c6c8629251415b6e047778',
  'gender': 2,
  'id': 1893671,
  'name': 'Rafael Torrijos',
  'order': 42,
  'profile_path': '/lro1QSBv5cmkiO8R8RbxADGXIka.jpg'},
 {'cast_id': 112,
  'character': 'CG Ghost Soldier',
  'credit_id': '59c7805d9251415b87053e7f',
  'gender': 0,
  'id': 1893872,
  'name': 'Mivon Prince-Leyva',
  'order': 43,
  'profile_path': '/c5CfJBn3B0Ce07TxgPUx9ttUTLv.jpg'},
 {'cast_id': 110,
  'character': 'First Officer Wade',
  'credit_id': '59c77d9cc3a3681454052a75',
  'gender': 2,
  'id': 76068,
  'name': 'Michael Dorman',
  'order': 44,
  'profile_path': '/95hvX99zyHIpHJ9Ajv35TWgNlGN.jpg'},
 {'cast_id': 116,
  'character': 'Officer Cole',
  'credit_id': '59c784a99251415b870541ed',
  'gender': 2,
  'id': 33184,
  'name': 'Rohan Nichol',
  'order': 45,
  'profile_path': '/nzvL3MRpADYWlH4ppyYgmCnM1kZ.jpg'},
 {'cast_id': 96,
  'character': 'Officer Santos',
  'credit_id': '59c6b999c3a368144304be34',
  'gender': 0,
  'id': 1893640,
  'name': 'Rupert Raineri',
  'order': 46,
  'profile_path': '/oXeONe2M6qwiVlDFpJIT1wrA9Ek.jpg'},
 {'cast_id': 97,
  'character': 'Officer Moss',
  'credit_id': '59c6b9fec3a368143004b954',
  'gender': 0,
  'id': 1893641,
  'name': 'Stephen Lopez',
  'order': 47,
  'profile_path': '/hYoItjKNWnncBbjM3voLEu5DnN8.jpg'},
 {'cast_id': 109,
  'character': 'Captain Toms',
  'credit_id': '59c77d659251415b5d05482d',
  'gender': 0,
  'id': 75744,
  'name': 'Richard Piper',
  'order': 48,
  'profile_path': '/3SEI2j8jIzVthrYifpMgjNC4MHp.jpg'},
 {'cast_id': 98,
  'character': 'Mr. Krill',
  'credit_id': '59c6bc1dc3a368140304c936',
  'gender': 0,
  'id': 1347909,
  'name': 'Justin Smith',
  'order': 49,
  'profile_path': '/7knG8VrDuEmhAZT2B4p1zmMjDJy.jpg'},
 {'cast_id': 99,
  'character': 'Mr. Swift',
  'credit_id': '59c6be5f9251415b2804b325',
  'gender': 0,
  'id': 1486057,
  'name': 'John Leary',
  'order': 50,
  'profile_path': '/bCP5mcXgFp5X7mq7jTmYpmBbtHE.jpg'},
 {'cast_id': 100,
  'character': 'Bowen',
  'credit_id': '59c6c070c3a368141e0448fa',
  'gender': 0,
  'id': 1014587,
  'name': 'Bryan Probets',
  'order': 51,
  'profile_path': '/wp0o01OuR5YF3DWjBBUYAWUbzHA.jpg'},
 {'cast_id': 113,
  'character': 'Pig Kelly',
  'credit_id': '59c7810a9251415b240582b0',
  'gender': 2,
  'id': 57904,
  'name': 'Ken Radley',
  'order': 52,
  'profile_path': '/jqiM2DbXtNRF3yxRaU2nkYzewEJ.jpg'},
 {'cast_id': 101,
  'character': 'Beatrice',
  'credit_id': '59c6c14bc3a36813ed04aed4',
  'gender': 1,
  'id': 1252521,
  'name': 'Hannah Walters',
  'order': 53,
  'profile_path': '/3hUokXHcRhdpM971cb3kbaVSrY8.jpg'},
 {'cast_id': 114,
  'character': 'Priest',
  'credit_id': '59c7826c9251415b32055db4',
  'gender': 0,
  'id': 1545346,
  'name': 'Jonathan Elsom',
  'order': 54,
  'profile_path': '/i1LEAdB5y6zg4lVa01hV9ZZo7Ew.jpg'},
 {'cast_id': 102,
  'character': 'Captain Morgan',
  'credit_id': '59c6c217c3a3681454046e90',
  'gender': 2,
  'id': 143328,
  'name': 'K. Todd Freeman',
  'order': 55,
  'profile_path': '/2L7Qh4hA2dsCIPZAVfgerax7i2q.jpg'},
 {'cast_id': 107,
  'character': 'Jail Guard',
  'credit_id': '59c6c957c3a368140304d946',
  'gender': 0,
  'id': 1893677,
  'name': 'James Lawson',
  'order': 56,
  'profile_path': '/gtcdsTruLPzpL2xJhePsOq38LjX.jpg'},
 {'cast_id': 108,
  'character': "Uncle Jack's Cellmate",
  'credit_id': '59c6ca34c3a3681461041481',
  'gender': 0,
  'id': 1216570,
  'name': 'Darcy Laurie',
  'order': 57,
  'profile_path': '/bTZgOB4wl4ECbHiGjoKQAQdvTUW.jpg'},
 {'cast_id': 30,
  'character': 'Townswoman (uncredited)',
  'credit_id': '57f68ea592514172c5002e01',
  'gender': 1,
  'id': 1255055,
  'name': 'Jessica Green',
  'order': 58,
  'profile_path': '/7l3bkNv92uii8im5B4vyF0ABgcS.jpg'},
 {'cast_id': 52,
  'character': 'Townswoman (uncredited)',
  'credit_id': '591294019251414e8504da81',
  'gender': 0,
  'id': 1345090,
  'name': 'Haley Madison',
  'order': 59,
  'profile_path': '/3XJGp5oJCGvqosOhSSgQZWI8cKo.jpg'},
 {'cast_id': 36,
  'character': 'Townschild (uncredited)',
  'credit_id': '57f68ea7c3a36816250071ea',
  'gender': 0,
  'id': 1632129,
  'name': 'Kiara Freeman',
  'order': 60,
  'profile_path': '/3n5EDxHBritMzqxIS47A6Qccg74.jpg'},
 {'cast_id': 35,
  'character': 'Townschild (uncredited)',
  'credit_id': '57f68ea6c3a3681604007202',
  'gender': 0,
  'id': 1690237,
  'name': 'Piper Nairn',
  'order': 61,
  'profile_path': '/cOVpgx5JF9XeFUF2am9Bk4f5wkh.jpg'},
 {'cast_id': 53,
  'character': 'Townsperson (uncredited)',
  'credit_id': '5912942ec3a36864c604d3d7',
  'gender': 1,
  'id': 1692989,
  'name': 'Suzanne Dervish-Ali',
  'order': 62,
  'profile_path': '/7OQgHuuzFbtO9jAF4w6zcuzqmAK.jpg'},
 {'cast_id': 50,
  'character': 'Townsperson (uncredited)',
  'credit_id': '591293a5c3a368650a04aff2',
  'gender': 0,
  'id': 1813771,
  'name': 'Donnie Baxter',
  'order': 63,
  'profile_path': '/dm2cSQwySnOj9sWqca9nBspS8sL.jpg'},
 {'cast_id': 41,
  'character': 'Maid (uncredited)',
  'credit_id': '57f68ea8925141360300747b',
  'gender': 0,
  'id': 1690239,
  'name': 'Winnie Mzembe',
  'order': 64,
  'profile_path': '/lUTozzeBvTZZkpUQLE5V5baS12X.jpg'},
 {'cast_id': 39,
  'character': 'Greenwich Village Upper Class Lady (uncredited)',
  'credit_id': '57f68ea892514172c5002e04',
  'gender': 0,
  'id': 1690238,
  'name': 'Christie-Lee Britten',
  'order': 65,
  'profile_path': '/uNSjA73XjDbQMJB1XGnoKB89zux.jpg'},
 {'cast_id': 48,
  'character': 'Twin Middle Class Lady (uncredited)',
  'credit_id': '5912932f9251414e8904ee64',
  'gender': 0,
  'id': 1813770,
  'name': 'Mollie McGregor',
  'order': 66,
  'profile_path': '/q4XZ9rV1TbrsqvK91a9FAMudL6C.jpg'},
 {'cast_id': 103,
  'character': 'Twin Middle Class Lady (uncredited)',
  'credit_id': '59c6c5399251415b6e0473ea',
  'gender': 0,
  'id': 1571654,
  'name': 'Sophia McGregor',
  'order': 67,
  'profile_path': '/egbKVmd3f1xgAq90vDiRLLZIFXx.jpg'}]

In [595]:
#Extract name
#x from above list of dictionary x is first dictinary element
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0]) # 0th inde for Actor 1

In [596]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))

In [597]:
data['actor_1_name'].head()

0        Johnny Depp
1        Ben Affleck
2    Chris Hemsworth
3        Chris Pratt
4     Pierce Brosnan
Name: actor_1_name, dtype: object

In [598]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1]) # 0th inde for Actor 2

In [599]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [600]:
data['actor_2_name'].head()

0     Javier Bardem
1      Henry Cavill
2    Tom Hiddleston
3       Zoe Saldana
4      William Hurt
Name: actor_2_name, dtype: object

In [601]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [602]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

In [603]:

data['actor_3_name'].head()

0      Geoffrey Rush
1          Gal Gadot
2     Cate Blanchett
3      Dave Bautista
4    Benjamin Walker
Name: actor_3_name, dtype: object

In [604]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [605]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [628]:
data['director_name'].head()

0    Joachim Rønning Espen Sandberg
1                       Zack Snyder
2                     Taika Waititi
3                        James Gunn
4                     Sean McNamara
Name: director_name, dtype: object

In [607]:
data.columns

Index(['genres', 'id', 'title', 'year', 'cast', 'crew', 'genres_list',
       'actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name'],
      dtype='object')

In [608]:

movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]

In [609]:
movie.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list,title
0,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,Pirates of the Caribbean: Dead Men Tell No Tales
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,Justice League
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,Thor: Ragnarok
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,Guardians of the Galaxy Vol. 2
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,The King's Daughter

In [610]:
#Total of of NaN in in each columns
movie.isna().sum()

director_name     4
actor_1_name     22
actor_2_name     55
actor_3_name     70
genres_list       7
title             0
dtype: int64

In [611]:
movie=movie.dropna(how='any')

In [629]:
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [612]:

movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})

In [613]:
#We lower the movie_title because movie_title was lower in upto 2016 dataset also
movie['movie_title'] = movie['movie_title'].str.lower()

In [614]:
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']

In [615]:
#Here we basically combined columns actor1name,actor2name,actor3name,directorname and Generes and make new column comb
# This comb will be passed to TFIDF count vectorizer and we therefore wont take all features we just take combined feature
movie.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,pirates of the caribbean: dead men tell no tales,Johnny Depp Javier Bardem Geoffrey Rush Joachim Rønning Espen Sandberg ...
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,justice league,Ben Affleck Henry Cavill Gal Gadot Zack Snyder Action Adventure Fantasy...
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,thor: ragnarok,Chris Hemsworth Tom Hiddleston Cate Blanchett Taika Waititi Action Adve...
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,guardians of the galaxy vol. 2,Chris Pratt Zoe Saldana Dave Bautista James Gunn Action Adventure Comed...
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,the king's daughter,Pierce Brosnan William Hurt Benjamin Walker Sean McNamara Fantasy Actio...

In [630]:
#Now we combine with older dataset till 2016 of MoviePreprocess1
old=pd.read_csv('data.csv')

In [631]:
old.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens

In [632]:
old['comb'] = old['actor_1_name'] + ' ' + old['actor_2_name'] + ' '+ old['actor_3_name'] + ' '+ old['director_name'] +' ' + old['genres']

In [633]:
#Here occurs the merging or combining of new and old dataset
new = old.append(movie)

In [634]:
new.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker unknown Doug Walker Documentary

In [636]:
new.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [637]:
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker unknown Doug Walker Documentary
5,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker,Action Adventure Sci-Fi,john carter,Daryl Sabara Samantha Morton Polly Walker Andrew Stanton Action Adventu...
7,Nathan Greno,Brad Garrett,Donna Murphy,M.C. Gainey,Adventure Animation Comedy Family Fantasy Musical Romance,tangled,Brad Garrett Donna Murphy M.C. Gainey Nathan Greno Adventure Animation ...
8,Joss Whedon,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,Action Adventure Sci-Fi,avengers: age of ultron,Chris Hemsworth Robert Downey Jr. Scarlett Johansson Joss Whedon Action...
9,David Yates,Alan Rickman,Daniel Radcliffe,Rupert Grint,Adventure Family Fantasy Mystery,harry potter and the half-blood prince,Alan Rickman Daniel Radcliffe Rupert Grint David Yates Adventure Family...
10,Zack Snyder,Henry Cavill,Lauren Cohan,Alan D. Purwin,Action Adventure Sci-Fi,batman v superman: dawn of justice,Henry Cavill Lauren Cohan Alan D. Purwin Zack Snyder Action Adventure S...
11,Bryan Singer,Kevin Spacey,Marlon Brando,Frank Langella,Action Adventure Sci-Fi,superman returns,Kevin Spacey Marlon Brando Frank Langella Bryan Singer Action Adventure...
12,Marc Forster,Giancarlo Giannini,Mathieu Amalric,Rory Kinnear,Action Adventure,quantum of solace,Giancarlo Giannini Mathieu Amalric Rory Kinnear Marc Forster Action Adv...
13,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: dead man's chest,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
14,Gore Verbinski,Johnny Depp,Ruth Wilson,Tom Wilkinson,Action Adventure Western,the lone ranger,Johnny Depp Ruth Wilson Tom Wilkinson Gore Verbinski Action Adventure W...
15,Zack Snyder,Henry Cavill,Christopher Meloni,Harry Lennix,Action Adventure Fantasy Sci-Fi,man of steel,Henry Cavill Christopher Meloni Harry Lennix Zack Snyder Action Adventu...
16,Andrew Adamson,Peter Dinklage,Pierfrancesco Favino,Damián Alcázar,Action Adventure Family Fantasy,the chronicles of narnia: prince caspian,Peter Dinklage Pierfrancesco Favino Damián Alcázar Andrew Adamson Actio...
18,Rob Marshall,Johnny Depp,Sam Claflin,Stephen Graham,Action Adventure Fantasy,pirates of the caribbean: on stranger tides,Johnny Depp Sam Claflin Stephen Graham Rob Marshall Action Adventure Fa...
19,Barry Sonnenfeld,Will Smith,Michael Stuhlbarg,Nicole Scherzinger,Action Adventure Comedy Family Fantasy Sci-Fi,men in black 3,Will Smith Michael Stuhlbarg Nicole Scherzinger Barry Sonnenfeld Action...
20,Peter Jackson,Aidan Turner,Adam Brown,James Nesbitt,Adventure Fantasy,the hobbit: the battle of the five armies,Aidan Turner Adam Brown James Nesbitt Peter Jackson Adventure Fantasy
21,Marc Webb,Emma Stone,Andrew Garfield,Chris Zylka,Action Adventure Fantasy,the amazing spider-man,Emma Stone Andrew Garfield Chris Zylka Marc Webb Action Adventure Fantasy
22,Ridley Scott,Mark Addy,William Hurt,Scott Grimes,Action Adventure Drama History,robin hood,Mark Addy William Hurt Scott Grimes Ridley Scott Action Adventure Drama...
23,Peter Jackson,Aidan Turner,Adam Brown,James Nesbitt,Adventure Fantasy,the hobbit: the desolation of smaug,Aidan Turner Adam Brown James Nesbitt Peter Jackson Adventure Fantasy
24,Chris Weitz,Christopher Lee,Eva Green,Kristin Scott Thomas,Adventure Family Fantasy,the golden compass,Christopher Lee Eva Green Kristin Scott Thomas Chris Weitz Adventure Fa...
26,James Cameron,Leonardo DiCaprio,Kate Winslet,Gloria Stuart,Drama Romance,titanic,Leonardo DiCaprio Kate Winslet Gloria Stuart James Cameron Drama Romance
27,Anthony Russo,Robert Downey Jr.,Scarlett Johansson,Chris Evans,Action Adventure Sci-Fi,captain america: civil war,Robert Downey Jr. Scarlett Johansson Chris Evans Anthony Russo Action A...
28,Peter Berg,Liam Neeson,Alexander Skarsgård,Tadanobu Asano,Action Adventure Sci-Fi Thriller,battleship,Liam Neeson Alexander Skarsgård Tadanobu Asano Peter Berg Action Advent...
29,Colin Trevorrow,Bryce Dallas Howard,Judy Greer,Omar Sy,Action Adventure Sci-Fi Thriller,jurassic world,Bryce Dallas Howard Judy Greer Omar Sy Colin Trevorrow Action Adventure...
31,Sam Raimi,J.K. Simmons,James Franco,Kirsten Dunst,Action Adventure Fantasy Romance,spider-man 2,J.K. Simmons James Franco Kirsten Dunst Sam Raimi Action Adventure Fant...
32,Shane Black,Robert Downey Jr.,Jon Favreau,Don Cheadle,Action Adventure Sci-Fi,iron man 3,Robert Downey Jr. Jon Favreau Don Cheadle Shane Black Action Adventure ...
34,Brett Ratner,Hugh Jackman,Kelsey Grammer,Daniel Cudmore,Action Adventure Fantasy Sci-Fi Thriller,x-men: the last stand,Hugh Jackman Kelsey Grammer Daniel Cudmore Brett Ratner Action Adventur...
...,...,...,...,...,...,...,...
494,Tony Giglio,Adrianne Palicki,Michael Jai White,Ty Olsson,Action Crime Thriller,s.w.a.t.: under siege,Adrianne Palicki Michael Jai White Ty Olsson Tony Giglio Action Crime T...
495,Manuk Depoyan,Arsen Shavlyuk,Vasyl Virastyuk,Ruslana Pysanka,Family Comedy Animation Fantasy Adventure,the dragon spell,Arsen Shavlyuk Vasyl Virastyuk Ruslana Pysanka Manuk Depoyan Family Com...
498,John R. Leonetti,Joey King,Ryan Phillippe,Sherilyn Fenn,Fantasy Horror Thriller,wish upon,Joey King Ryan Phillippe Sherilyn Fenn John R. Leonetti Fantasy Horror ...
499,Malcolm D. Lee,Regina Hall,Queen Latifah,Jada Pinkett Smith,Comedy,girls trip,Regina Hall Queen Latifah Jada Pinkett Smith Malcolm D. Lee Comedy
500,Gillian Robespierre,Jenny Slate,Edie Falco,Abby Quinn,Comedy,landline,Jenny Slate Edie Falco Abby Quinn Gillian Robespierre Comedy
501,Kathryn Bigelow,John Boyega,Will Poulter,Algee Smith,Thriller Crime Drama History,detroit,John Boyega Will Poulter Algee Smith Kathryn Bigelow Thriller Crime Dra...
502,Kogonada,John Cho,Haley Lu Richardson,Parker Posey,Drama,columbus,John Cho Haley Lu Richardson Parker Posey Kogonada Drama
503,Heber Cannon Marston Sawyers Ian Wittenber Mariah Moore,Matt Fraser,Ben Smith,Sara Sigmundsdottir,Documentary,fittest on earth: a decade of fitness,Matt Fraser Ben Smith Sara Sigmundsdottir Heber Cannon Marston Sawyers ...
504,Emilis Velyvis,Inga Jankauskaitė,Mindaugas Papinigis,Ramūnas Rudokas,Thriller,zero 3,Inga Jankauskaitė Mindaugas Papinigis Ramūnas Rudokas Emilis Velyvis Th...
505,Tommy Bertelsen,Troian Bellisario,Tom Felton,Ben Winchell,Drama,feed,Troian Bellisario Tom Felton Ben Winchell Tommy Bertelsen Drama
506,Ibai Abad,Lewis Rainer,Joséphine Berry,Charlotte Atkinson,Drama Music Romance,the girl from the song,Lewis Rainer Joséphine Berry Charlotte Atkinson Ibai Abad Drama Music R...
507,Julian Radlmaier,Julian Radlmaier,Deragh Campbell,Beniamin Forthi,Comedy,self-criticism of a bourgeois dog,Julian Radlmaier Deragh Campbell Beniamin Forthi Julian Radlmaier Comedy
508,Pierre Coré,Omar Sy,Louane Emera,Franck Gastambide,Adventure Animation Comedy Family,sahara,Omar Sy Louane Emera Franck Gastambide Pierre Coré Adventure Animation ...
509,François Ozon,Marine Vacth,Jérémie Renier,Jacqueline Bisset,Thriller,the double lover,Marine Vacth Jérémie Renier Jacqueline Bisset François Ozon Thriller
510,Steven C. Miller,Bruce Willis,Hayden Christensen,Gethin Anthony,Action Thriller,first kill,Bruce Willis Hayden Christensen Gethin Anthony Steven C. Miller Action ...
511,T.J. Martin Daniel Lindsay,Rodney King,Tom Brokaw,George H. W. Bush,Documentary,la 92,Rodney King Tom Brokaw George H. W. Bush T.J. Martin Daniel Lindsay Doc...
512,Kenny Ortega,Dove Cameron,Sofia Carson,Cameron Boyce,TV Movie Family Action Comedy Music Adventure,descendants 2,Dove Cameron Sofia Carson Cameron Boyce Kenny Ortega TV Movie Family Ac...
516,Maria Sadowska,Magdalena Boczarska,Piotr Adamczyk,Justyna Wasilewska,Drama,the art of loving. story of michalina wislocka,Magdalena Boczarska Piotr Adamczyk Justyna Wasilewska Maria Sadowska Drama
517,Sam Garbarski,Anatole Taubman,Moritz Bleibtreu,Joel Basman,Comedy Drama War,bye bye germany,Anatole Taubman Moritz Bleibtreu Joel Basman Sam Garbarski Comedy Drama...
518,Timothy Woodward Jr.,Kaiwi Lyman,Bruce Dern,Denise Richards,Crime Drama Thriller,american violence,Kaiwi Lyman Bruce Dern Denise Richards Timothy Woodward Jr. Crime Drama...
519,Philippe de Chauveron,Christian Clavier,Ary Abittan,Elsa Zylberstein,Comedy,with open arms,Christian Clavier Ary Abittan Elsa Zylberstein Philippe de Chauveron Co...
520,Thomas Kruithof,François Cluzet,Denis Podalydès,Sami Bouajila,Thriller,scribe,François Cluzet Denis Podalydès Sami Bouajila Thomas Kruithof Thriller
521,Todd Grimes,Grey Griffin,Tara Strong,Anais Fairweather,Animation,lego dc super hero girls: brain drain,Grey Griffin Tara Strong Anais Fairweather Todd Grimes Animation
522,Pat Healy,Taylor Schilling,Pat Healy,Alycia Delmore,Comedy Crime,take me,Taylor Schilling Pat Healy Alycia Delmore Pat Healy Comedy Crime
523,Anshai Lal,Anushka Sharma,Diljit Dosanjh,Suraj Sharma,Fantasy Comedy Romance Drama,phillauri,Anushka Sharma Diljit Dosanjh Suraj Sharma Anshai Lal Fantasy Comedy Ro...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

In [635]:
new.shape,movie.shape

((5501, 7), (458, 7))

In [638]:
new.head()
#2016 and 2017

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker unknown Doug Walker Documentary

In [639]:
#Drop dublicates
new.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [640]:
new.head(10)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker unknown Doug Walker Documentary
5,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker,Action Adventure Sci-Fi,john carter,Daryl Sabara Samantha Morton Polly Walker Andrew Stanton Action Adventu...
7,Nathan Greno,Brad Garrett,Donna Murphy,M.C. Gainey,Adventure Animation Comedy Family Fantasy Musical Romance,tangled,Brad Garrett Donna Murphy M.C. Gainey Nathan Greno Adventure Animation ...
8,Joss Whedon,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,Action Adventure Sci-Fi,avengers: age of ultron,Chris Hemsworth Robert Downey Jr. Scarlett Johansson Joss Whedon Action...
9,David Yates,Alan Rickman,Daniel Radcliffe,Rupert Grint,Adventure Family Fantasy Mystery,harry potter and the half-blood prince,Alan Rickman Daniel Radcliffe Rupert Grint David Yates Adventure Family...
10,Zack Snyder,Henry Cavill,Lauren Cohan,Alan D. Purwin,Action Adventure Sci-Fi,batman v superman: dawn of justice,Henry Cavill Lauren Cohan Alan D. Purwin Zack Snyder Action Adventure S...

In [641]:
new.to_csv('new_data.csv',index=False)

In [642]:
new.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64